.task-dialog .task-dialog-content {
  min-width: 600px;
}

.task-dialog .task-dialog-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.task-dialog .task-dialog-form .task-dialog-field {
  margin: 0.5em 0;
  width: 100%;
}

.task-dialog .task-dialog-form .task-dialog-field>div {
  width: 100%;
}

.cursor-pointer { 
  cursor: pointer !important;
}